.fancyfont {
  font-family: 'Wallpoet', cursive;
}

.muted {
 opacity: 0.5;
}

.smallertitle {
  font-size: 75%;
}

.btn-navspecial {
  color: #888888;
  background-color: #060606;

}

.fontsize {
  font-size: 175%;
}

.well blockquote {
border-color: rgba(87,54,142,0.4);
}

.showanswers {
  color: white;
  font-size: 75%;
  opacity: 0.5;
}



.joker {
     background-image: #ffffff url('../img/background.jpg') no-repeat center center;
}
