<h1 class="fancyfont">About Beats</h1>
<div class="lead">
  <p>
    Did you hear about the happy roman? he was "glad he ate her." he hid it in the one place he knew he could hide something: his ass. five long years, he wore this watch up his ass. then, when he died of dysentery, he gave me the watch. i thought about you every time i jerked off, dickhead. what do you want me to say, that i'm sorry? that i apologize? well, people in hell want ice water, pal. you know why the yankees always win, frank? it's 'cause the other teams can't stop staring at those damn pinstripes. i got a fever, and the only prescription is more cowbell. you got the wrong guy, ace! i don't know what you want, but i know i can get it for you, with a minimum of fuss! money, jewels, a *very* big ball of string. i'm neglecting my other guests. enjoy yourself, you'll find the young ladies stimulating company. did you hear about the happy roman? he was "glad he ate her." this is america, babe, you gotta think big to be big. i don't know what you want, but i know i can get it for you, with a minimum of fuss! money, jewels, a *very* big ball of string.
  </p>
</div>

  <p>
    Man's gotta know his limitations. when a naked man's chasing a woman through an alley with a butcher knife and a hard-on, i figure he's not out collecting for the red cross. you want a guarantee, buy a toaster. this is the ak-47 assault rifle, the preferred weapon of your enemy; and it makes a distinctive sound when fired at you, so remember it. are you feeling lucky punk ever notice how sometimes you come across somebody you shouldn't have f**ked with? well, i'm that guy. dyin' ain't much of a livin', boy. don't p!ss down my back and tell me it's raining. you see, in this world there's two kinds of people, my friend: those with loaded guns and those who dig. you dig. well, do you have anything to say for yourself? what you have to ask yourself is, do i feel lucky. well do ya' punk? this is my gun, clyde!
  </p>

  <p>
    Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot. rehabilitated? well, now let me see. you know, i don't have any idea what that means. cities fall but they are rebuilt. heroes die but they are remembered. bruce... i'm god. let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. i once heard a wise man say there are no perfect men. only perfect intentions. circumstances have taught me that a man's ethics are the only possessions he will take beyond the grave. well, what is it today? more spelunking? cities fall but they are rebuilt. heroes die but they are remembered. multiply your anger by about a hundred, kate, that's how much he thinks he loves you. boxing is about respect. getting it for yourself, and taking it away from the other guy. i don't think they tried to market it to the billionaire, spelunking, base-jumping crowd.
  </p>
